
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);

h1,h2,h3{
  color: black;
}



table, th, td {
    border: 1px solid black;
    border-collapse:collapse;

}

th, td {
    padding: 15px;
    text-align: left;
background-color: #3399ff;
    color: white;
}



th {
    background-color: #4CAF50;
    color: white;
}
.clear {
  clear: both;
}

.pageTitle {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
}




div.tapu {

    float:left;
    margin:30px;
}

div p {
  text-align: center;
}

/*Footer*********** */


  footer{

    background-color: #333333;
    padding: 80px 0px;
    height:  200px;
  }

footer h4 {
    color: white;
    font-size: 1.3em;

}

footer hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0px;
}



footer a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 100;

}

footer a span {
font-weight: bold;
color:#000000;

}


footer a:hover{
  color: rgba(255, 255, 255, 0.8);

}

/*End Footer */

/*
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(58,58,58);
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  height:80px;

}
.site-logo{
  background: rgb(58,58,58);
  color:#fff;

}
.navigation li {
  float: left;
}

.navigation li:hover {
  background: #222;
}

.navigation li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 0 0 5px;
}

.navigation li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  font-family: Arial, sans-serif;
font-size: medium;
letter-spacing: 1px;
  line-height: 40px;
  color: #fff;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  float: none;
}

.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;

  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;

  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
  background: #000;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* borrowed from http://codepen.io/skeurentjes/pen/jasfd */




.wrap  {
width: 90%;
max-width: 1100px;
margin: 0 auto;

}










/* extra code */


@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #eee;
	background-image: url(../images/patterns/light_toast.png);
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

a {
	color: #23dbdb;
	text-decoration: none;

}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 10 auto;
	max-width: 800px;
	padding: 10 700px;
}

.top {
  min-height: 200px;
  padding: 80px 0px;
  height: 700px;

  }
.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #333;
	padding-bottom: 20px;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:10px;
}
#navigation {
  position: absolute;
	right: 40px;
	bottom: 0px;
}

#menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */
#main-menu {
  float: right;
	font-size: 0;
	margin: 10px 0;
}

#main-menu > li {
  display: inline-block;
	margin-left: 30px;
	padding: 2px 0;
}

#main-menu > li.parent {
	background-image: url(plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding-left: 14px;
}

#main-menu > li > a {
	color: #eee;
	font-size: 14px;
	line-height: 14px;
	padding: 30px 0;
	text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #23dbdb;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 38px;
	padding-top: 10px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #333;
  background-size: 5px 9px;
  border: 1px solid #444;
	border-top: none;
	color: #bbb;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 12px;
}

ul.sub-menu > li > a:hover {
	background-color: #2a2a2a;
	color: #fff;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #23dbdb;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}



#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media only screen and (max-width: 700px) {

  #nav
      {
          position: relative;
      }
          #nav > a
          {
          }
          #nav:not( :target ) > a:first-of-type,
          #nav:target > a:last-of-type
          {
              display: block;
          }

      /* first level */

      #nav > ul
      {
          height: auto;
          display: none;
          position: absolute;
          left: 0;
          right: 0;
      }
          #nav:target > ul
          {
              display: block;
          }
          #nav > ul > li
          {
              width: 100%;
              float: none;
          }

      /* second level */

      #nav li ul
      {
          position: static;
      }
