h1{
     color: #FFFFFF;
  text-align:center;
  font-family: 'Iceberg'
}
 body{
      color: #FFFFFF;
      font-size:20;
      font-family: 'Iceburg';
      text-align: center;
    background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");

 }
a:hover{
  color:red;
}

a:active{
  color:white;
}
hr {
  color:orange;
  width:6;
}


tr{
  font-size:30;
  text-align: center;

}
